<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
  xmlns:task="http://www.springframework.org/schema/task"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context-3.2.xsd
            http://www.springframework.org/schema/task
            http://www.springframework.org/schema/task/spring-task-3.2.xsd">

  <context:annotation-config /> 
  <context:component-scan base-package="com.classroom.wnn.schedule" />

  <bean lazy-init="false" id="myWork" class="com.classroom.wnn.schedule.BaseQuartzScheduler" init-method="doWork">
  	<property name="scheduler" ref="baseQuartzScheduler" />
  </bean>
  <bean id="baseQuartzScheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
   	<property name="configLocation" value="classpath:quartz.properties" />
	<property name="overwriteExistingJobs" value="true" />
    <property name="autoStartup" value="true" />
    <property name="applicationContextSchedulerContextKey" value="applicationContext" />
    <property name="jobFactory">
      <bean class="com.classroom.wnn.schedule.AutowiringSpringBeanJobFactory" />
    </property>
  </bean>
  
  <bean class="com.classroom.wnn.schedule.TestJob1" id="testJob1"></bean>
</beans>